@import "../../styles/colors.scss";
@import "../../styles/common.scss";

.vt-tools-scoreboard-section {
  @include prevent-select;
  grid-row: 1 / span 1;
  background-color: lighten($color: theme($bg-color, $primary-color), $amount: 3);
  display: grid;
  grid-template: 1fr / auto auto auto;
  justify-content: center;
  padding: 0.1rem 0;
  margin: 0 0.5rem;

  & .scoreboard-half {
    display: flex;

    & .scoreboard-team {
      display: flex;
      padding: 0.25rem;
      background-color: lighten($color: theme($bg-color, $primary-color), $amount: 15);
      place-items: center;
    }

    & .scoreboard-score {
      aspect-ratio: 1 / 1;
      max-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: lighten($color: theme($bg-color, $primary-color), $amount: 40);
      color: theme($bg-color, $primary-color);
      padding: 0.25rem;
      cursor: pointer;
    }

    & .scoreboard-controls {
      display: grid;
      grid-template: 1f 1fr/1fr;
      padding: 0 0.5rem;
    }

    & .scoreboard-sets-won {
      display: flex;
      padding: 0.25rem;
      font-size: 0.7rem;
      justify-content: center;
      align-self: center;
    }
  }

  & .vt-tools-scoreboard-middle-section {
    align-self: center;
  }
}
