@import "./colors.scss";
@import "./common.scss";

.app-container {
  background-color: theme($bg-color, $primary-color);
  color: theme($text-color, $primary-color);
  display: flex;
  flex: 1;

  flex-direction: column;
  min-height: 100vh;

  & .screen-space {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: 100vh;

    & > .app-content {
      position: relative;
      display: flex;
      flex: 1 1 0;
      flex-wrap: wrap;

      max-height: calc(100vh - $header-height);

      color: theme($text-color, $secondary-color);
    }
  }
}
