@import "./colors.scss";
@import "./common.scss";

.app-container {
  background-color: theme($bg-color, $primary-color);
  color: theme($text-color, $primary-color);
  // display: flex;
  // flex: 1;

  // flex-direction: column;
  display: grid;
  grid-template: 1fr auto/1fr;
  width: 100%;
  min-height: 100vh;

  & .screen-space {
    display: grid;
    grid-template: $header-height auto / 1fr;

    &:has(.vt-tools-container) {
      max-height: 100vh;
      height: 100vh;
    }

    & > .app-content {
      display: grid;

      max-height: calc(100vh - $header-height);

      color: theme($text-color, $secondary-color);
    }
  }
}
