@import "./colors.scss";

.vt-tools-scoreboard-section {
  background-color: lighten($color: theme($bg-color, $primary-color), $amount: 3);
  display: flex;
  justify-content: center;
  padding: 0.1rem 0;
  margin: 0 0.5rem;

  & .scoreboard-half {
    display: flex;

    & .scoreboard-team {
      display: flex;
      padding: 0.5rem;
      background-color: lighten($color: theme($bg-color, $primary-color), $amount: 15);
    }

    & .scoreboard-score {
      aspect-ratio: 1 / 1;
      width: 100%;
      max-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: lighten($color: theme($bg-color, $primary-color), $amount: 40);
      color: theme($bg-color, $primary-color);
      padding: 0.5rem;
    }

    & .scoreboard-sets-won {
      display: flex;
      padding: 0.5rem;
      font-size: 0.7rem;
      justify-content: center;
      align-self: center;
    }
  }

  & .vt-tools-scoreboard-middle-section {
    align-self: center;
  }
}
