@import "./colors.scss";

$outer-court-color: #0084ff;
$court-color: #ce8976;
$bound-color: rgb(243, 243, 243);

$player-default-color: #4d4d4d;

.vt-tools-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0;

  & .vt-tools-main-area {
    display: flex;
    flex: 10 10 0;

    justify-content: center;

    & .vt-svg-container {
      display: flex;
      // flex-direction: column;
      flex-wrap: wrap;
      // flex: 1 1 0;
      justify-content: center;
      padding: 0 0.5rem 1rem 0.5rem;

      & .vt-svg {
        background-color: $outer-court-color;
        width: 100%;
        height: 100%;

        & .vt-svg-net {
          display: flex;
          stroke: $bound-color;
        }

        & .vt-svg-court-group {
          & .vt-svg-court {
            display: flex;
            stroke: $bound-color;
            fill: $court-color;
            // transform: translate(-1 * calc($court-size / 2), -1 * calc($court-size / 2));
          }
          & .vt-svg-10-ft-line {
            display: flex;
            stroke: $bound-color;
          }
        }

        & .vt-svg-player {
          fill: $player-default-color;
          stroke: $bound-color;
        }
      }
    }
  }

  & .vt-tools-properties {
    display: flex;
    flex: 2 2 0;
  }
}
