@import "./colors.scss";

.vt-tools-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0;

  & .vt-tools-main-area {
    display: flex;

    flex-grow: 9;
    // flex-basis: 32em;
    flex-basis: 1000px;
    // use media to switch from auto to 1000px when the screen is small
    // flex: 10 5 auto;

    justify-content: center;

    
  }

  & .vt-tools-inspector {
    display: flex;
    flex-direction: column;

    // flex-shrink: 5;
    flex-grow: 3;
    // flex-basis: 30%;
    // flex: 2 5 auto;
  }
}
