@import "./colors.scss";
@import "./common.scss";

$outer-court-color: #53a9fa;
$court-color: #ce8976;
$boundary-color: rgb(243, 243, 243);

$player-default-color: theme($text-color, $primary-color);

.vt-svg-container {
  grid-row: 2 / span 1;

  display: flex;
  justify-content: center;
  padding: 0 0.5rem 0 0.5rem;
  // position: relative;
  overflow: hidden;

  & .vt-svg {
    background-color: $outer-court-color;
    width: 100%;
    touch-action: none;

    & text {
      @include prevent-select;
    }

    & .vt-svg-net {
      display: flex;
      stroke: $boundary-color;
    }

    & .vt-svg-court-group {
      & .vt-svg-court {
        display: flex;
        stroke: $boundary-color;
        fill: $court-color;
        // transform: translate(-1 * calc($court-size / 2), -1 * calc($court-size / 2));
      }

      & .vt-svg-court-front {
        stroke: $boundary-color;
        fill: darken($court-color, 10);
      }
      & .vt-svg-10-ft-line {
        display: flex;
        stroke: $boundary-color;
      }
      & .vt-svg-10-ft-line-outside {
        stroke: $boundary-color;
      }
    }

    & .vt-svg-player {
      & circle {
        stroke: $boundary-color;
      }
    }
  }
}

// overrides
// .vt-player-context-menu {
//   & .MuiMenu-paper {
//     background-color: theme($bg-color, $primary-color);
//     color: theme($text-color, $secondary-color);
//     & .MuiMenu-list {
//       font-size: calc(15px + 0.390625vw);
//       & .MuiMenuItem-root {
//         font-size: .8rem;
//       }
//     }
//   }
// }
